[
  {
    "name": "pivotal tracker",
    "baseURL": "https://www.pivotaltracker.com/services/v5",
    "apiToken": ""
  },
  {
    "name": "trello",
    "baseURL": "https://api.trello.com/1",
    "apiToken": "",
    "apiKey": ""
  },
  {
    "name": "todoist",
    "baseURL": "https://api.todoist.com/rest/v1",
    "apiToken": ""
  }
]
